@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@mixin tab{
  @media (max-width:1366px) {
    @content;
  }
}
@mixin mobile{
  @media (max-width:930px) {
    @content;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  overflow-x: hidden;
}
section{
  min-height: 100vh;
  z-index: 9;
}
a{
  text-decoration: none;
  color: inherit;
}
@include mobile{
  #section1{
    height: 100vh;
  }
  #section2{
    height: 125vh;
  }
  #section3{
    height: 80vh;
  }
  #section4{
    height: 90vh;
  }
}